{{if isLidClosed}}
monitor = desc:BOE 0x0BCA, disable
monitor = desc:Dell Inc. DELL U3425WE B8KFV84, 3440x1440@59.97Hz, 3840x0, 1
{{else}}
monitor = desc:BOE 0x0BCA, 2256x1504@60.00Hz, 0x0, 1
monitor = desc:Dell Inc. DELL U3425WE B8KFV84, 3440x1440@59.97Hz, 2256x0, 1
{{end}}
